.col {
    width: 250px;
    margin-left: 50px;
    padding-top: 25px;
}

.row row-cols-3 row-cols-md-3 g-4 {
    margin-left: 25px;
}

#naslov-recept {
    margin-top: 25px;
    margin-top: 25px;
}

#kategorija {
    margin-top: 80px;
}

#button_izmeni {
    margin-top: 20px;
    width: 150px;
    margin-left: 550px;
}

#forma-izmena {
    margin-top: 25px;
    margin-left: 520px;
    width: 40%;
}

#novi-kolacic {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 750px;

}

.dugmici {
    display: flex;
}


#sort-pretraga {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
}

#pretrazi-polje {
    margin-left: 460px;
    margin-top: 15px;
    width: 400px;
}